<div local-class="playlist-info">
  <img local-class="playlist-image" src={{@image}} alt="Playlist cover" />
  <div local-class="playlist-text-container">
    <div local-class="playlist-name-container">
      <span local-class="playlist-name">{{@name}}</span>
      <span local-class="playlist-author"><span local-class="playlist-by">by</span> {{@author}}</span>
    </div>
    {{! TODO: Don't use dangerous curlies }}
    {{! template-lint-disable no-triple-curlies }}
    <span local-class="playlist-description">{{{@description}}}</span>
    <div local-class="playlist-yield">{{yield}}</div>
  </div>
</div>
