<div local-class="track-row">
  {{#if this.idle}}
    <div local-class="track-index">
      {{@index}}.
    </div>
  {{else}}
    <div local-class="track-index track-processing">
      {{#if this.processing }}
        <LoadingIndicator />
      {{else if this.done}}
        {{svg-jar "check" height="30px" width="30px"}}
      {{else if this.notFound}}
        {{svg-jar "warning" height="30px" width="30px"}}
      {{else if this.failed}}
        {{svg-jar "cross" height="30px" width="30px"}}
      {{else if this.cancelled}}
        {{svg-jar "cross" height="30px" width="30px"}}
      {{/if}}
    </div>
  {{/if}}
  <div local-class="track-name-container">
    <div local-class="track-name">{{@name}}</div>
    <div local-class="track-artist-album">
      {{@artist}} • {{@album}}
    </div>
  </div>
  <div local-class="track-duration">{{@duration}}</div>
</div>
