<LinkTo @route="application"><BackButton /></LinkTo>

<PlaylistInfo
  @image={{this.model.playlist.images.firstObject.url}}
  @name={{this.model.playlist.name}}
  @description={{this.model.playlist.description}}
  @author={{this.model.playlist.owner.display_name}}
>
  {{#unless this.processing}}
    <MusicButton @title="Add to Apple Music" @action={{this.addPlaylist}}/>
  {{/unless}}
</PlaylistInfo>

{{#if this.processing}}
  <div local-class="info-container">
    <InfoBar>
      <div local-class="info-indicator">
        <div local-class="loading"><LoadingIndicator @white={{true}}/></div>
        <div local-class="info-text">This playlist is being added to your Apple Music library. You will need to keep this window open until it is done.</div>
      </div>
      <button local-class="cancel-button" type="button" {{on 'click' this.cancel}}>Cancel</button>
    </InfoBar>
  </div>
{{/if}}

<div local-class="track-list">
  {{#each this.model.playlist.tracks.items as |trackItem trackIndex|}}
    <Track
      @index={{add-one trackIndex}}
      @name={{trackItem.track.name}}
      @artist={{trackItem.track.artists.firstObject.name}}
      @album={{trackItem.track.album.name}}
      @duration={{format-milliseconds trackItem.track.duration_ms}}
      @state={{trackItem.state}}
    />
  {{/each}}
</div>
