<div local-class="search-container">
  <div local-class="logo-container">{{svg-jar "logo" local-class="logo" height="50px" width="50px"}}<h1>Tunesfer</h1><div local-class="beta-tag">ALPHA</div></div>
  <h2>Transfer Spotify playlists to Apple Music!</h2>
  <PlaylistSearch
    @value={{this.playlistUrl}}
    @enter={{this.loadPlaylist}}
    @input={{this.validatePlaylist}}
    @placeholder="Enter a Spotify playlist link"
  />
  <InfoBar local-class="error-bar {{if this.hideInvalidLink 'hidden'}}" @text="Are you sure that's a Spotify playlist link?" />
  <InfoBar local-class="error-bar {{unless this.error 'hidden'}}" @text="That playlist could not be found. Please make sure it is public and try again." />
  <div local-class="or">- or -</div>
  <MusicButton @large="true" @hideImage="true" @title="Try some Australian Indie?" @action={{this.randomPlaylist}} />
  {{!
  <div local-class="bottom-links">
    <LinkTo @route="about">About</LinkTo> | <a href="https://github.com/astephensen/tunesfer-web">Github</a>
  </div>
  }}
</div>
